<section>
  <div class="my_dia_div">
    <% var aux = 0 %>
    <% if (dia_mes == "error") { %>
      La fecha que usted está intentando cargar no esta disponible todavía.
      Pruebe con una fecha del año 2024.
    <% } else { %>
      Dia: <%= dia_mes[0] %>
      Mes: <%= dia_mes[1] %>
      <br>
      <% if (myJson["resp"] == "vacio") { %>
        No hay platos añadidos este dia.
      <% } else { %>
        <% for (let i = 0; i < Object.keys(myJson).length; i++) { %>
          <% var elems = myJson[aux.toString()].toString().split(',') %>
          Nombre: <%= elems[0] %>
          <% if (elems[1] != null) { %>
            Preparación: <%= elems[1] %>
          <% } %>
          Ingredientes: <%= elems[2] %>
          <% if (elems[3] != null) { %>
            Descripcion: <%= elems[3] %>
          <% } %>
          Calorias: <%= elems[4] %>
          Calorias totales: <%= elems[5] %>
          <br>
          <% aux++ %>
        <% } %>
      <% } %>
    <% } %>
  </div>
</section>
