<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <div id="ocupa_header">
      <button class="but_head" onclick="calendario()">Volver</button>
    </div>
    <h1 id="logo">NutriApp</h1>
    <div id="ocupa_header" class="header-buttons">
      <button class="but_head" onclick="logout()">Logout</button>
      <button class="but_head" onclick="perfil()">Perfil</button>
    </div>
  </header>

  <div id="ocupa_dia">
    <div class="my_dia_div">
      <h2 id="dia_tit"> <%= dia_mes[0] %> del <%= dia_mes[1] %> de 2024</h2>
      <% for (let plat of platos ) { %>
      <div class="cosa">
        <% plat = plat.split(',')%>
        <h3 id="nomarg"><%=plat[0]%> <%=plat[5]%>Kcal </h3>
        <div class="grideito4">
          <div class="grid_elem4">
            <h4 id="nomarg2">- Ingredientes:</h4>
            <div class="sobra">
              <ul>
                <% let ings = plat[2].split("/"); %>
                <% let cals = plat[4].split("/"); %>
                <% let desc = plat[3].split("/"); %>
                <% for (let k = 0; k < ings.length - 1; k++ ) { %>
                <li><%= cals[k] %>Kcal - <%= ings[k] %> <% if (desc[k] != '') { %> (<%= desc[k] %>) <% } %></li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="grid_elem4">
            <h4 id="nomarg3">- Preparación:</h4>
            <div class="sobra2">
              <% if (plat[1] == '') { %>
                <form class="todo" action="http://34.175.19.24:3000/calendario/preparacion" method="POST"></form>
                  <textarea name="prep" rows="10" cols="40" placeholder="No se ha proporcionado preparación para este plato"></textarea>
                  <button class="anade_but" type="submit">Añadela!!!</button>
                  <script>req.session.temp_date = '<%= dia_mes %>'</script>
                </form>
              <% } else { %>
                <%= plat[1] %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="anade">
        Añade algún plato más!
        <button class="anade_but" onclick="calculadora()">Añadir</button>
      </div>
    </div>
  </div>
  <footer>
    <p>© 2024 NutriApp. Todos los derechos reservados.</p>
  </footer>
</body>

</html>
