<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <div id="ocupa_header">
      <button class="but_head" onclick="calendario()">Volver</button>
    </div>
    <h1 id="logo">NutriApp</h1>
    <div id="ocupa_header" class="header-buttons">
      <button class="but_head" onclick="logout()">Logout</button>
      <button class="but_head" onclick="perfil()">Perfil</button>
    </div>
  </header>

  <div id="ocupa_dia">
    <div class="my_dia_div">
      <div class="separa2">
        <h2 id="dia_tit">Platos recomendados</h2>
        <form action="http://localhost:3000/plato/gen/fil" method="POST">
          <% if (calorias == null) { %>
          <input type="number" id="tt" name="calomin" min="0" max="1000" placeholder="mínimas">
          <input type="number" id="tt" name="calomax" min="0" max="1000" placeholder="máximas">
          <% } else { %>
          <input type="number" id="tt" name="calomin" min="0" max="1000" value="<%= calorias[0] %>">
          <input type="number" id="tt" name="calomax" min="0" max="1000" value="<%= calorias[1] %>">
          <% } %>
          <button class="anade_but2" type="submit">Filtrar por kilocalorias</button>
        </form>
      </div>
      <% for (let plat of platos ) { %>
      <div class="cosa">
        <% plat = plat.split(',')%>
        <h3 id="nomarg5">
          <div><%=plat[0]%> <%=plat[5]%>Kcal </div>
        </h3>
        <div class="grideito4">
          <div class="grid_elem4">
            <h4 id="nomarg2">- Ingredientes:</h4>
            <div class="sobra">
              <ul>
                <% let ings = plat[2].split("/"); %>
                <% let cals = plat[4].split("/"); %>
                <% let desc = plat[3].split("/"); %>
                <% for (let k = 0; k < ings.length; k++ ) { %>
                <li><%= cals[k] %>Kcal - <%= ings[k] %> <% if (desc[k] != '') { %> (<%= desc[k] %>) <% } %></li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="grid_elem4">
            <h4 id="nomarg3">- Preparación:</h4>
            <div class="sobra2">          
              <%= plat[1] %>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <footer>
    <p>© 2024 NutriApp. Todos los derechos reservados.</p>
  </footer>
</body>

</html>