<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUTRI-APP</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/script/script.js"></script>
</head>

<body>
  <header>
    <div id="ocupa_header">
      <button class="but_head" onclick="calendario()">Volver</button>
    </div>
    <h1 id="logo">NutriApp</h1>
    <div id="ocupa_header" class="header-buttons">
      <button class="but_head" onclick="logout()">Logout</button>
      <button class="but_head" onclick="perfil()">Perfil</button>
    </div>
  </header>

  <div id="ocupa_dia">
    <div class="my_dia_div">
      <h2 id="dia_tit">Tus platos</h2>
      <% if (platos != "no") { %>
        <% for (let plat of platos ) { %>
          <div class="cosa">
            <% plat = plat.split(',')%>
            <h3 id="nomarg5">
              <div><%=plat[0]%> <%=plat[5]%>Kcal </div>
            </h3>
            <div class="grideito4">
              <div class="grid_elem4">
                <h4 id="nomarg2">- Ingredientes:</h4>
                <div class="sobra">
                  <ul>
                    <% let ings = plat[2].split("/"); %>
                    <% let cals = plat[4].split("/"); %>
                    <% let desc = plat[3].split("/"); %>
                    <% for (let k = 0; k < ings.length; k++ ) { %>
                    <li><%= cals[k] %>Kcal - <%= ings[k] %> <% if (desc[k] != '') { %> (<%= desc[k] %>) <% } %></li>
                    <% } %>
                  </ul>
                </div>
              </div>
              <div class="grid_elem4">
                <h4 id="nomarg3">- Preparación:</h4>
                <div class="sobra2">
                  <%= plat[1] %>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
      </div>
      <div class="anade">
        Añade algún plato más!
        <button class="anade_but" onclick="calculadora()">Añadir</button>
      </div>
    </div>
  </div>
  <footer>
    <p>© 2024 NutriApp. Todos los derechos reservados.</p>
  </footer>
</body>

</html>